<div class="bg-gradient-to-t from-white to-sky-200 h-auto py-10 px-5   w-full flex flex-col justify-center items-center text-center">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <p data-aos="fade-down" data-aos-duration="1000"  class=" text-lg text-gray-900" style="font-family: 'Great Vibes', cursive ;
    font-weight: 700;
    font-style: normal;">
        Ceremonia Religiosa
    </p>
    
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        17h00 <br>
        Sábado, 03 de Mayo de 2025 <br>
    </p>
    <div class="flex flex-row justify-center items-center w-full">
        <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
        font-weight: 400;
        font-style: normal;">        Iglesia San Francisco<br> Simon Bolivar entre Imbabura y Colón</p>
        <img src="" alt="">
    </div>

    <a data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" href="https://maps.app.goo.gl/E23asnZGgFeX86Ub7" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-sky-300 hover:bg-sky-400 focus:ring-4 focus:ring-sky-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  " style=" font-family: 'Newsreader', serif;">Conocer Ubicación</a>

    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <p data-aos="fade-down" data-aos-duration="1000"  class="mt-10 text-lg text-gray-900" style="font-family: 'Great Vibes', cursive ;
    font-weight: 700;
    font-style: normal;">
        Recepción
    </p>
    
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">
        20h00 <br>
        Sábado, 03 de Mayo de 2025
    </p>
    <p data-aos="fade-down" data-aos-duration="1000" data-aos-delay="200" class="p-1 text-sm text-gray-900" style=" font-family: 'Newsreader', serif;
    font-weight: 400;
    font-style: normal;">

        Salón Social 24 de Mayo 
        <br>Av. Manuel Agustín Aguirre y Pasaje la FEUE.
    </p>

    <a data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" href="https://maps.app.goo.gl/ZkzB77pENS8pXYj39" target="_blank" type="button" class="mt-5 focus:outline-none text-white bg-sky-300 hover:bg-sky-400 focus:ring-4 focus:ring-sky-400 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2  " style=" font-family: 'Newsreader', serif;">Conocer Ubicación</a>


</div>


<img data-aos="fade-down" data-aos-duration="1000" data-aos-delay="300" class="" src="assets/img/parejas.png" alt="">



    


