
<div class="bg-cover bg-center bg-no-repeat sepia-0 bg-[url('assets/img/fondocari.jpg')] h-screen w-screen text-start flex flex-col gap-0 items-start justify-start  ">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script>
        AOS.init();
      </script>
<div class="w-full flex flex-col items-center text-center text-black mt-60">
  <img data-aos="fade-down" data-aos-duration="2000"  src="assets/img/fechacari.png" class="w-48  " alt="">
    
  <p data-aos="fade-down" data-aos-duration="2000" data-aos-delay="200" style="font-family: 'Dancing Script', cursive ;" class="text-white/90 text-4xl font-bold">Carlos y Fernanda</p>
<img data-aos="fade-down" data-aos-duration="2000" data-aos-delay="300" src="assets/img/flor.png" class="w-52  " alt="">

</div>
    <audio class="hidden" autoplay  controls>
        <source src="assets/audio/cancion.mp3" type="audio/mpeg">
        
      </audio>
</div>

<app-invitado></app-invitado>
<app-recepcion></app-recepcion> 


<app-dresscode></app-dresscode>
<app-calendario></app-calendario>
<app-banc></app-banc>